.logos{
padding-top:50px;
margin-left: 30%;
}
.Space-around{ 
   margin-top: 6px;
}

i{
  font-size: 35px;
  color: #1e81b0;
}

.jumbotron{
  background-image: url("./assets/nature_smiling.jpg");
  background-size: 100%;
  background-position-y: center;
  height: 700px;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: white;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
}
.navbar-light .navbar-brand {
  color: #FFF;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(0,0,0,.9);
  background-color: white;
}
 
.row{
margin-left:0.1%;
font-size: larger;
padding-top: 50px;

}

.impact_box{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5%;
  background: #1e81b0;
  background-size: 100%;
  background-position-y: center;
  height: 700px;
  width: 40%;
}

.card > img{
  width: 100%;
  height: auto;
}
.color{
  background-color: #1e81b0;
}

.deco_box_home{
  display: block;
  width:300px;
  height:300px;
}
.header{
text-align: center ;
margin-left:60%;
}

.mt-5{
padding-top: 5%;

}