body{
  overflow-x: hidden;
  display: inline;
  width: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 -150px;*/
}
.logos{
padding-top:50px;
margin-left: 30%;
}
.Space-around{ 
   margin-top: 6px;
}

i{
  font-size: 35px;
  color: #fa8701;
}
.my_button_jumbotron{
  width: 220px;
}
.jumbotron{
  background-image: url("./assets/nature_smiling.jpg");
  background-size: 100%;
  background-position-y: center;
  background-repeat:no-repeat;
  background-color: #fff;
  height: 700px;
  padding-top: 150px;
  padding-left: 80px;
  border-radius: 0%;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: white;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
}
.navbar{
  background: #fa8701;
}
.navbar-light .navbar-brand {
  color: #FFF;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
  background-color: #71bce4;
}
.nav-link{
  width: 150px;
  margin: 0 5px;
  text-align: center;
}
.nav-link:hover{
  color: #fff;
  text-align: center;
  background-color: #71bce4;
}
.impact_box{
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5%;
  background: #1e81b0;
  background-size: 100%;
  background-position-y: center;
  height: 1000px;
  width: 40%;
}

.card > img{
  width: 100%;
  height: auto;
}


.deco_box_home{
  display: block;
  height:300px;
}
.header{
text-align: center ;
margin-left:60%;
}

.mt-5{
padding-top: 5%;
}
.back{
  background:#ffffff;
  padding: 80px 0px 80px 0px;
  color: #000;
}
.space{
  height:0%;
}
.btn{
  background: #fa8701;
  color: #fff;
}
.btn:hover{
  background: #2a8bc8;
  color: #fff;
}
.outer_circle{
  border-radius: 50%;
  height: 36px;
  width: 36px;
  border-style: solid;
  border-width: 6px;
  border-color: #000;
  background-color: #fff;
}
.inner_circle{
  position: relative;
  left:7px;
  top: 7px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #000;
}
.line{
  display: block;
  background: #fa8701;
  height: 3px;
  width: 20%;
}
.headline_box > h2{
  background: #71bce4;
  width: auto;
  height: auto;
  padding: 10px;
}
.headline_box{
  color: #fff;
  text-align: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
}
.list_repsonder{
  margin-left: 12%;
  width: 80%;
}
.footer_nav{
  height: 150px;
}
.list_vision{
  list-style: url('./assets/tick.svg');
  margin-left: 12%;
  width: 80%;
}
.footer{
  background: #2a8bc8;
  width:110%;
}
/*Quick Donate Button CSS start*/
.quick_donate{
  display: flex;
  background: #000;
  color: #fff;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}
.donate_button{
  background: #fff;
  border-style: none;
  height: 40px;
}
.donate_button:hover{
  background: #fa8701;
  color: #fff;
  border-style: none;
  height: 40px;
}
/*END!!!!*/
@media (max-width: 986px) {
  .line{
    display: block;
    background: #fa8701;
    height: 3px;
    width: 20%;
  }
  .headline_box > h2{
    background: #2a8bc8;
    width: 50%;
    height: auto;
    padding: 10px;
  }
  .headline_box{
    color: #fff;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
  }
  .list_repsonder{
    margin-left: 14%;
    width: 80%;
  }
.list_vision{
  margin-left: 14%;
    width: 80%;
}
.back{
  background:#ffffff;
  padding: 0px;
  color: #000;
}
.mini_about_box{
  flex: 0 0 100%;
  margin: 10px 20px 10px 20px;
}
.my_text_center {
  text-align: center!important;
}
.nav-link{
  width: 100%;
  text-align: center;
}

.jumbotron{
  margin-top: -25%;
  background-position: center;
  background-size: cover;
  height: 1400px;
  border-radius: 0;
}
}
/*Ornage: #fa8701*/
/*Lightblue: #71bce4*/
/*Darkblue: #2a8bc8*/
/*Darkerblue: #27394a*/